html,
body {
    background: #000;
    background-size: 141px 142px;
    font-family: "Oxygen";
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 970px;
}


/* Header */

.header {
    color: #fff;
}

.header ul {
    list-style: none;
}

.header li {
    display: inline;
    margin-right: 30px;
}


/* Jumbotron */

.jumbotron {
    background-color: #000;
    height: 600px;
}

.jumbotron h1 {
    color: #fff;
    font-weight: 300;
    margin-top: 80px;
    margin-bottom: 40px;
}

.jumbotron .btn {
    color: #0393ff;
    background: transparent;
    border: 1px solid #0393ff;
    border-radius: 2px;
    padding: 8px 20px;
}

.jumbotron .btn:hover {
    color: #fff;
    background-color: #0393ff;
}

form {
    margin-top: 80px;
}

#search {
    text-align: center;
    background: transparent;
    border: 0px;
    border-radius: 0;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    margin: 0 20px;
    width: 400px;
}

#search:hover {
    border-bottom: 1px solid #0393ff;
}

#search:focus {
    border-bottom: 1px solid #0393ff;
    box-shadow: 0px 0px 0px;
    outline: 0px;
}

#caseSensitive {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
}

.remarks {
    color: #828584;
    font-size: 20px;
}

.title {
    color: #828584;
    text-align: center;
}

.box {
    margin: 5px;
    font-size: 2em;
    display: inline-block;
    color: #fff;
}

.strike {
    margin: 50px;
}

.mainInput {
    text-align: center;
}

#output {
    text-align: center;
    color: #fff;
}

.test {
    font-family: "Oxygen";
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-right: 5px;
}


/* Supporting */

.main,
.supporting h2,
.supporting p,
.feature {
    text-align: center;
    color: #fff;
}

@media (max-width: 770px) {
    .pull-right {
        margin: 30px auto;
        width: 100%;
    }
    .header ul {
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }
    .header li {
        display: block;
        float: left;
        line-height: 38px;
        margin: 0;
        text-align: center;
        width: 50%;
    }
    .header li a {
        display: block;
        float: left;
        margin: 0;
        text-align: center;
        width: 100%;
    }
    #search {
        margin: 0 auto;
        width: 100%;
    }
}